.header-new {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 50px;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: #cda518;
  z-index: 100;
}

.header-new ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0em;
  display: inline-block;
  vertical-align: top;
}

.header-new ul li {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 38px;
  color: #fff;
  font-weight: normal;
  text-align: center;
  padding-top: 12px;
  font-size: 16px;
}

.header-new li {
	-webkit-transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;
}

.header-new li:hover {
	background-color: rgb(215,175,34);
}

.header-new li.active {
	height: 36px;
	border-bottom: solid;
	border-bottom-color: #fff;
	border-bottom-width: 3px;
	background-color: rgb(175,135,0);
}

.header-new .logo {
  margin: 0 10px;
}

.user-new {
  display:  inline-block;
  float: right;
  margin: 2px 5px;
  text-align: right;
}

.user-img {
  display: inline-block;
  float: right;
  margin: 3px 5px;
  border-radius: 5px;
  border: 1px solid black;
}

.user-new a {
  color: #fff;
  font-weight: normal;
}

.user-new hr {
  margin: 0;
  border: none;
  border-top: 1px solid #fff;
  width: 100%;
}

.signin-new {
  display:  inline-block;
  float: right;
  margin: 11px 15px;
  text-align: right;
}

.signin-new a {
  color: #fff;
  font-weight: normal;
}
