@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

html {
	padding: 0;
}

body {
	height: 100%;
	background: url(../images/background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
	font-family: 'Open Sans', sans-serif;
}

#m-header {
	cursor: pointer;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 50px;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: #cda518;
  z-index: 100;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0em;
  display: inline-block;
  vertical-align: top;
}

.header ul li {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 38px;
  color: #fff;
  font-weight: normal;
  text-align: center;
  padding-top: 12px;
  font-size: 16px;
}

.header li {
	-webkit-transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;
}

.header li:hover {
	background-color: rgb(215,175,34);
}

.header li.active {
	height: 36px;
	border-bottom: solid;
	border-bottom-color: #fff;
	border-bottom-width: 3px;
	background-color: rgb(175,135,0);
}

.header .logo {
  margin: 0 10px;
	height: 45px;
}

.textcomplete-dropdown {
	border: 1px solid black;
	border-radius: 3px;
	list-style: none;
	padding: 0;
	background-color: rgb(217, 217, 217);
}

.textcomplete-item {
	padding: 5px;
	cursor: pointer;
}

.textcomplete-dropdown .active {
	padding: 5px;
	background-color: #d6b53e;
}

.textcomplete-item a {
	color: black;
}

.editor-toolbar a{
  color: white!important;
  margin-right: 3px;
  transition-duration: .4s;
}

.editor-toolbar a:hover{
  background-color: #d7af22;
  border: 1px solid white;
}

.editor-toolbar a.active{
  background-color: #d7af22;
  border: 1px solid white;
}

.editor-toolbar.disabled-for-preview a:not(.no-disable){
  background: none !important;
  opacity: .5;
}

.editor-toolbar{
  background-color: #cda518!important;
  opacity: 1;
}

.editor-toolbar:hover{
  opacity: 1;
}

.CodeMirror, .CodeMirror-scroll {
    min-height: 20em;
    background-color: #e5e5e5;
}

.post-wrapper{
  border-radius: 5px;
  border: 1px solid #ccc;
}

.post-submit{
	float: right;
  border-radius: 5px;
  color: white;
  background: none;
  height: 30px;
  transition-duration: .4s;
  border: 1px solid #cda518;
  padding: 8px;
  font-size: .8em;
}

.post-submit:hover{
  background: #d7af22;
  border: 1px white solid;
}

.m-header {
	display: none;
}

.menu {
	display: none;
}

.search-site {
	display: inline-block;
  float: right;
  vertical-align: top;
  margin: 12px 5px;
  border: white solid 1px;
  border-radius: 3px;
  height: 25px;
  width: auto;

}

.search-icon {
	width: auto;
	padding: 0;
	margin: 0;
	height: 100%;
	border: none;
  background-color: #CDA518;
	color: white;
	cursor: pointer;
}

.search-icon:hover{
	background-color: inherit;
}


.search-site form input[type="text"]{
	width: 150px;
	height: 22px;
	background: none;
	border: none;
	vertical-align: top;
	-webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
	color: white;
	margin: 0;
	margin-left: 3px;

}

.search-site form input[type="text"]:focus{
	width: 300px;
	border: none;
	outline: none;
}

.search-site form input[type="text"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgb(0, 0, 0);
}
.search-site form input[type="text"]::-moz-placeholder { /* Firefox 19+ */
	color: rgb(0, 0, 0);
}
.search-site form input[type="text"]:-ms-input-placeholder { /* IE 10+ */
	color: rgb(0, 0, 0);
}
.search-site form input[type="text"]:-moz-placeholder { /* Firefox 18- */
	color: rgb(0, 0, 0);
}

.user {
  display:  inline-block;
  float: right;
  margin: 2px 5px;
  text-align: right;
}

.user-img {
  display: inline-block;
  float: right;
  margin: 3px 5px;
  border-radius: 5px;
  border: 1px solid black;
}

.user a {
  color: #fff;
  font-weight: normal;
}

.user hr {
  margin: 0;
  border: none;
  border-top: 1px solid #fff;
  width: 100%;
}

.signin {
  display:  inline-block;
  float: right;
  margin: 11px 15px;
  text-align: right;
}

.signin a {
  color: #fff;
  font-weight: normal;
}

a {
	color: rgb(195,145,4);
	font-weight: bold;
	cursor: pointer;
}

#tiles::-webkit-scrollbar {
    display: none;
}

a {
	text-decoration: none;
}

.main {
	position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:300px;
	padding-top: 25px;
	padding-left: 25px;
	padding-right: 25px;
}

.body {
	border-radius: 3px;
	min-height: 80%;
	margin-left:25px;
	margin-right: 25px;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 16px 32px 16px 32px;
	background-color: #fff;
	box-shadow: 0 0 10px 3px rgba(0,0,0,.5);
	overflow-x: auto;
}

#tiles {
	position: fixed;
  top:0;
  bottom:0;
  right:0;
	width: 250px;
	padding-top: 75px;
	padding-right: 40px;
	padding-left: 10px;
	overflow-y: scroll;
}

.tile {
	background-color: #fff;
	box-shadow: 0 0 10px 3px rgba(0,0,0,.5);
	border-radius: 3px;
	min-height: 50px;
	margin-bottom: 20px;
}

.tile .tile-header {
	position: relative;
	background-color: rgb(205,165,24);
	color: #fff;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	text-align: center;
	padding: 5px;
	z-index: 0;
}

.tile .content {
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 10px;
}

pre {
	position: relative;
}

.hljs {
	padding-top: 2em;
}

pre:after {
	content: attr(lang);
	font-style: italic;
	text-transform: capitalize;
	margin: 4px 10px;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.3s;
	cursor: default;
	color: white;
}

.user a:hover, .signin a:hover {
	-webkit-transition: color 0.2s ease;
	-moz-transition: color 0.2s ease;
	-o-transition: color 0.2s ease;
	transition: color 0.2s ease;
}

.user a:hover, .signin a:hover {
	color: #d5d5d5;
}

form table, .info-table {
	width: 100%;
	table-layout: fixed;
}

td {
	overflow-wrap: break-word;
	font-weight: bold;
}

form label{
	font-weight: bold;
}

.group-content table {
	border-spacing: 0px;
	border: 1px solid #b5b5b5;
	border-bottom: none;
}

.group-content tr:nth-child(even) {
	background-color: #d8d8d8;
}

.group-content td, .group-content th {
	border-bottom: 1px solid #b5b5b5;
	padding: 3px 7px;
}

.body input[type=text], input[type=password], input[type=email], textarea, select {
	width: 100%;
	max-width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
	background-color: #e5e5e5;
}

.body input[type=submit]:not(.post-submit), .body input[type=button]  {
  width: 100%;
  background-color: rgb(205,165,24);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
	-webkit-transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;
}

.body input[type=submit]:hover {
	background-color: rgb(215,175,34);
}

h1 {
	font-size: 1.8em;
}

.command {
	border-style: solid;
	border-width: 1px;
	border-color: #888;
	padding: 1px;
	background-color: #e5e5e5;
	font-weight: bold;
}

.warning {
	min-height: 30px;
	border-radius: 3px;
	background-color: #f55;
	padding: 10px 16px 10px 16px;
	font-weight: bold;
	font-size: 22px;
	text-align: center;
	margin-bottom: 10px;
}

.info_box {
	min-height: 30px;
	border-radius: 3px;
	background-color: #5f5;
	padding: 10px 16px 10px 16px;
	font-weight: bold;
	font-size: 22px;
	text-align: center;
	margin-bottom: 10px;
}

.fadeout {
	-webkit-transition: opacity 2s ease;
	-moz-transition: opacity 2s ease;
	-o-transition: opacity 2s ease;
	transition: opacity 2s ease;
}

.user-avatar {
	border-width: 1px;
	border-color: black;
	border-style: solid;
	border-radius: 7px;
	display: inline-block;
}

.about {
	margin-top: 3px;
}

.check_name_btn {
	cursor: pointer;
	background-color: rgb(215,175,34);
	padding: 3px;
	border-radius: 3px;
	display: inline-block;
}

.topic_btn {
	margin-top: -10px;
	margin-bottom: 10px;
}

.btn {
	background-color: rgb(215,175,34);
	padding: 3px;
	border-radius: 3px;
	color: #fff;
	text-decoration: none;
	text-align: center;
}

.btn_warn {
	background-color: #f33;
	font-weight: bold;
}

.btn img {
	vertical-align: inherit;
}

#display_name_check {
	display: inline-block;
}

.md_content textarea {
	border-top: 3em solid rgba(0,0,0,0);
	min-height: 20em;
}

img {
	max-width: 100%;
	max-height: 100%;
}

.md_preview {
	border-top-width: 3em;
	border-left-width: 15px;
	border-right-width: 15px;
	border-bottom-width: 10px;
	border-style: solid;
	border-color: rgba(0,0,0,0);
	background-color: #fff;
}

blockquote {
	border-left: 2px solid #000;
	display: inline-block;
	margin: 0;
	padding: 1px 10px;
}

code {
	border: 1px solid #000;
	padding: 5px;
	border-radius: 3px;
	background-color: #fff;
	margin: 4px 0;
	display: block;
	position: relative;
	overflow: auto;
}

mark {
	padding: 0 3px;
	border-radius: 3px;
}

.edit_account_button {
	text-align: right;
	display: inline-block;
	cursor: pointer;
	background-color: rgb(215,175,34);
	padding: 3px;
	border-radius: 3px;
	color: #fff;
	text-decoration: none;
}

.edit_account_button a {
	padding: 0;
}

.green {
	color: #5f5;
}

.red {
	color: #f55;
}

.pages {
	text-align: center;
}

.pages div {
	display: inline-block;
	margin: 0 3px;
}

.pages .current {
	font-weight: bold;
}

.user-list {
	text-align: center;
	margin-bottom: 30px;
}

.pages {
	margin-top: 30px;
}

.user-list a {
	text-decoration: none;
}

.listuser {
	display: inline-block;
	width: 400px;
	max-width: 100%;
	text-align: left;
	margin-top: 16px;
}

.listuser img {
	vertical-align: middle;
}

.listuserinfo {
	vertical-align: middle;
	display: inline-block;
	margin-left: 5px;
}

.rank {
	display: inline-block;
}

.ADMIN_RANK {
	background-color: #c00;
	color: #fff;
	padding: 0 3px 0 3px;
	border-radius: 3px;
	text-decoration: none;
}

.MOD_RANK {
	background-color: #06f;
	color: #fff;
	padding: 0 3px 0 3px;
	border-radius: 3px;
	text-decoration: none;
}

.USER_RANK {
	color: #777;
	text-decoration: none;
	font-weight: bold;
}

.forum-group {
	border-spacing: 0;
  	border:solid black 1px;
  	border-radius:3px;
 	-moz-border-radius:3px;
  	border-collapse:collapse;
	min-width: 500px;
}

.col-img {
	width: 60px;
}

.forum-group tr {
	border: 1px solid #000;
}

.forum-group th {
	padding: 5px 0 5px 8px;
	text-align: center;
}

.forum-group td {
	text-align: center;
	padding-top: 7px;
}

.forum-group thead {
	background-color: rgb(205,165,24);
	color: #fff;
}

.description {
	color: black;
	font-weight: 600;
}

.group {
	margin: 15px 0;
}

.with-img {
	margin-left: 80px;
}

h1.category-head {
	width: 100%;
	background-color: rgb(205,165,24);
	padding: 4px 8px;
	margin-left: -3px;
	border-radius: 5px;
}

.category {
	background-color: #eee;
	padding: 7px 10px;
	border-radius: 5px;
	border: 1px solid #888;
	color: #fff;
	font-weight: bold;
	min-height: 50px;
	height: auto;
	min-width: 200px;
	margin-bottom: 20px;
}

.category div {
	color: #000;
}

.group-header {
	background-color: rgb(205,165,24);
	padding: 7px;
	border-radius: 5px 5px 0 0;
	border: 1px solid #888;
	color: #fff;
	font-weight: bold;
	min-width: 200px;
}

.group-header span {
	margin-left: 15px;
}

.group-content {
	background-color: #eee;
	padding: 7px;
	border: 1px solid #888;
	border-top: none;
	min-width: 200px;
}

.content-text {
	display: inline-block;
}

.clear {
	clear: both;
	display: block;
	visibility: hidden;
}

.clear-right {
	clear: right;
	display: block;
	visibility: hidden;
}

.side-img {
	margin: -8px 0 0 -85px;
	border-radius: 5px;
	border: 1px solid #888;
	float: left;
	width: 64px;
	height: 64px;
	min-width: 64px;
	min-height: 64px;
}

.category-info {
	display: inline-block;
	line-height: 24px;
	width: 100%;
}

.right {
	float: right;
}

.replies {
	margin: 30px 0;
}

.replies strong {
	margin-left: 20px;
}

.warning a, .info_box a, h1.category-head a, .group-header a {
	color: #fff;
	text-decoration: none;
}

h1.category-head div {
	font-size: 0.6em;
}

.notifications {
	display: inline-block;
	padding: 0 5px;
	position: fixed;
	right: 50px;
	font-size: 12px;
	font-weight: bolder;
	color: #fff;
	background-color: #f33;
	border-radius: 13px;
	border: 1px solid #000;
	cursor: pointer;
}

.notification-menu {
	position: fixed;
	right: 50px;
	top: 50px;
	width: 400px;
	height: auto;
	background-color: #fff;
	border: 1px solid #000;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	box-shadow: 0 0 10px 3px rgba(0,0,0,.5);
	z-index: 99;
	overflow: hidden;
	-webkit-transition: top 0.5s ease;
	-moz-transition: top 0.5s ease;
	-o-transition: top 0.5s ease;
	transition: top 0.5s ease;
}

.notification-menu .notification {
	padding: 5px 10px 5px 5px;
	position: relative;
	height: auto;
	min-height: 50px;
	border-bottom: 1px solid #eee;
}

.notification:hover, .notification-more:hover {
	background-color: #f5f5f5;
}

#notification-button {
	transition: filter 0.2s;
}

#notification-button:hover {
	-webkit-filter: drop-shadow(0 0 3px #222);
	filter: drop-shadow(0 0 3px #222);
}

.notification-img {
  display: inline-block;
  border-radius: 5px;
  border: 1px solid black;
	position: absolute;
	top: 5px;
	left: 5px;
}

.notification-menu .notification-text {
	margin-left: 50px;
	overflow-x: hidden;
	font-size: 15px;
	color: #000;
	font-weight: normal;
}

.notification-more {
	padding: 5px 0;
	height: 100%;
	text-align: center;
	color: #000;
}

.no-notifications {
	text-align: center;
	margin: 5px 0;
}

#watch_btn {
	cursor: pointer;
	display: inline-block;
}

.notifications-page {
	list-style: none;
	padding: 0;
}

.notifications-page .notification-text {
	margin-left: 60px;
	overflow-x: hidden;
	font-size: 15px;
	color: #000;
	font-weight: normal;
}

.notifications-page .notification {
	padding: 5px 10px 5px 5px;
	position: relative;
	height: auto;
	min-height: 50px;
	border-bottom: 1px solid #aaa;
}

.seen {
	opacity: 0.3;
}
