body {
  background: #fff;
}

.body {
  margin: 0;
  padding: 10px 5px;
  min-height: 100%;
  border-radius: 0;
	box-shadow: none;
}

.main {
  top: 50px;
  right: 0;
  padding: 0;
  position: absolute;
	transition: left 0.3s, right 0.3s;
  box-shadow: 8px 0 20px #000;
}

.header {
  display: none;
}

#tiles {
  display: none;
}

th,td {
  display: block;
}

tr {
  display: block;
  margin-bottom: 5px;
}

.m-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  height: 50px;
  z-index: 200;
  color: #fff;
  background-color: #cda518;
  transition: left 0.3s, right 0.3s, opacity 0.3s;
  box-shadow: 0 -8px 20px 8px #000;
}

.menu-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.menu {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 30%;
  overflow: hidden;
  transition: left 0.3s, right 0.3s, opacity 0.3s;
  background-color: #2b2b2b;
}

.menu a {
  color: #fff;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 15px 0 15px 20px;
  border-bottom: 1px solid #4c4c4c;
  position: relative;
}

.menu li span {
  position: absolute;
  top: 19px;
  left: 55px;
}

.menu img {
  border-radius: 3px;
  border: 1px solid #000;
}

.menu .active {
  background-color: #000;
}

.m-user {
  position: absolute;
  padding: 10px 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #3c3c3c;
}

.m-login {
  position: absolute;
  padding: 10px 0;
  bottom: 0;
  left: 0;
  right: 50%;
  text-align: center;
  background-color: #3c3c3c;
  border-right: 1px solid #4c4c4c;
}

.m-signup {
  position: absolute;
  padding: 10px 0;
  bottom: 0;
  left: 50%;
  right: 0;
  text-align: center;
  background-color: #3c3c3c;
}

.browse {
  padding: 0 15px;
  /*border-bottom: 1px solid #000;
  border-top: 1px solid #000;*/
  background-color: #636363;
  color: #fff;
  font-weight: bold;
}

h1.category-head {
  width: auto;
}

.notification-menu {
  display: none;
}
